/***@uthors: Himanshu Tandon, Tarun Jairaj Narwani ***/
body{
    margin: 0 auto;
    padding: 0;
	background-color: #f3f5fa;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-size: 26px;
	text-align: center, justify;
	color:#283A5A
}
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background: #283A5A;
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: 100px;
}

a {
    color: #47b2e4;
    text-decoration: none;
}

.container{
    padding-top: 72px; 
}
a:hover {
    color: #73c5eb;
    text-decoration: none;
}

.container{
    padding: 20px;
}

.logo{
    font-size: 40px;
    float: left;
    margin-left: 15%;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo a{
    color: #fff;
}

/****************** navigation bar ***************/
#header nav{
    float: right;
    margin-right: 6%;
    margin-top: 20px    ;
    font-size: 18px;
}
#header  nav li{
    display: inline;
    padding: 10px 18px;
}

nav li a{
    color: #fff;
}

#header nav .active{
    background: #47b2e4;
    border: 1px solid #47b2e4;
    border-radius: 60px;
}
#header nav .active a:hover{
    color: #fff;
}

#noheader{
    padding-top: 110px;
	padding-left:20px;
	padding-right:20px;
	bottom:20%;
	min-height:900px;
}

#footer {
    font-size: 14px;
    background: #37517e;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
#footer .footer-bottom {
    padding-top: 0px;
    padding-bottom: 10px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    font-size: 13px;
  }
  
  #footer .credits a {
    transition: 0.5s;
  }

.runOps{
    float: left;
    width: 40%;
    padding: 10px;
    margin-left:5%;
    margin-top:5%;
	box-shadow: 0 4px 8px 0 #543;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;	
	padding: 10px;
    margin-left:5%;
    margin-top: 5%;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
	padding: 10px;
    margin-left:5%;
    margin-top: 5%;
}
.grid-3v {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	align-vertical;
    grid-gap: 20px;
	padding: 10px;
    margin-left:5%;
    margin-top: 5%;
}
.section-bg {
  background-color: #f3f5fa;
}
.section-fg {
  background-color: #fff;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 25px;
  text-align: center;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}


/***General Button****/
.btn-general {
  background-color: white;
  border: 2px solid #283A5A;
  padding: 15px 32px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.btn-general:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:#283A5A; 
  color: white;
}
/*****Special Button*****/
.btn-special {
  margin-left: 25px;
  color: #47b2e4;
  border-radius: 50px;
  padding: 6px 25px 7px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.btn-special:hover {
  background: #283A5A;
  color: #fff;
}

@media (max-width: 768px) {
  .btn-special {
    margin: 0 48px 0 0;
    padding: 6px 20px 7px 20px;
  }
}

/****Range Slider Bar***/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 05px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}	
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #47b2e4;
cursor: pointer;}
  
/****Pictures+Icons****/
.pic-container {
  position: relative;
  width: auto;
}

.pic {
  display: block;
  width: 100%;
  height: auto;
}

.pic-info {
 position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
    background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.pic-container:hover .pic-info {
  transform: scale(1);
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.collapse{
  display: none;
}

.container .bcard{
  padding: 6px 5px;
  padding-left: 20px;
  display: inline-block;
  margin-bottom: 10px;
  width: 400px;
  text-align:left;
  background: #fff;
  box-shadow: 0 4px 8px 0 #543;
}

.contact-form{
  background: #fff;
  padding: 40px 20px;
  width: 40%;
}

.contact-table{
  width:100%;
}

.contact-table tr{
  width: 100%;
  margin: 5px;
}

.contact-table td{
  padding: 5px;
}

.form-control{
  width: 100%;
  border: 1px solid #000;
  /*border-radius: 10px;*/
  font-size: 16px;
}

/****TableStyling
#resDisplay .table {
  border-spacing:5px;
  width: 100%;
  padding: 5px;
  border-collapse: collapse;
}
#resDisplay .th {
  padding: 10px;
  text-align:center;
  text-align:justify;  
  text-justify:inter-word;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}
#resDisplay  .td {
  padding: 10px;
  text-align:center;
  text-align:justify;  
  text-justify:inter-word;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}

#resDisplay .tr:hover{
background-color:#f5f5f5;
}***/
/**Tool Tip**/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 3;
  bottom: 125%;
  left: 20%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #543 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 3;
}

/**TEAM**/
.team-social {
  margin-top: 12px;
  display: flex;
  padding-left:50px;
  align-items: center;
  justify-content: flex-start;
}

.team-social a {
  transition: ease-in-out 0.5s;
  display: flex;
  margin-left:10px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team-social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team-social a:hover i{
  background: #47b2e4;
}

.team-social a:hover{
  color: #fff;
}

.team-social a + a {
  margin-left: 10px;